/* Elementen die in master.blade.php staan */
#content{width: 50%; padding: 2.5%; margin: 12.5% 0 0 22.5%; position: relative;background: rgba(250, 250, 250, 0.8);}
#menuHolder{margin-bottom: 2.5%;}
#menu li{float: left; margin-right: 2.5%; padding-right: 2.5%;}
#menu li:not(:last-child){border-right: black 1px solid}
/* Elementen exclusief voor start.blade.php */
#leftSide, #rightSide{width: 50%; float: left;}
#rightSide{text-align: right;}
#leftSide select, #rightSide #searchword{width:75%; margin-bottom: 2.5%}

/* Zelf aangemaakte klassen die vaak voorkomen */
.clear{clear: both;}

/* Standaard HTML - tags */
a, a:visited{color: blue; text-decoration: none;}
h1{font-size: xx-large; margin-bottom: 2.5%;}
body{font-family: "Arial Black", Gadget, sans-serif;background-repeat:no-repeat;background-size:cover;}

/* Media Queries */
        @media (max-width: 1100px)
        {
         /* Van toepassing op master.blade.php*/
         /* Van toepassing op start.blade.php */
         /* Van toepassing op standaard HTML - tags */
        }
        @media (max-width: 500px)
        {h1{font-size: medium;}}