/* Variabelen */
/* Standaard HTML - tags */
body {
  background: #f7f2e7;
  font-family: 'Lobster Two', cursive; }

h1 {
  font-size: 300%;
  font-weight: bold;
  margin-bottom: 5%; }

h2 {
  font-size: 200%;
  margin-bottom: 2.5%; }

h3 {
  font-weight: bold;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }

input:not(.submit), select {
  height: 35px;
  font-size: 25px;
  margin-bottom: 2.5%;
  width: 99%; }

p {
  margin-bottom: 2.5%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 110%; }

textarea {
  width: 99%;
  resize: none;
  margin-bottom: 2.5%; }

a, a:visited {
  color: blue; }

/* Veel gebruikte klasses die nergens thuishoren */
.clear {
  clear: both; }

.submit {
  float: right;
  font-size: 20px;
  margin-bottom: 2.5%; }

.userErrors {
  color: red;
  margin-bottom: 2.5%; }

/* Master.blade.php */
#header_img, #footer_img {
  width: 100%; }

#content {
  padding: 2.5% 0 2.5% 0;
  width: 50%;
  margin-left: 25%; }

#menu li {
  float: left;
  margin-bottom: 6.25%;
  padding-right: 2.5%;
  font-size: 120%; }

/* Search/show.blade.php */
.searchResult {
  width: 100%;
  float: left;
  border-bottom: 1px black solid; }

#content .searchResult:not(:first-child) {
  margin-top: 2.5%; }

/* Media Queries */
@media (max-width: 680px) {
  /* Standaard HTML - tags */
  h1 {
    font-size: x-large; }

  h2 {
    font-size: 125%; }

  p {
    margin-bottom: 5%;
    font-size: 100%; }

  select, input:not(.submit) {
    height: 30px;
    font-size: 20px;
    width: 97.5%; }

  textarea {
    margin-bottom: 5%; }

  /* Veel gebruikte klasses die nergens thuishoren */
  .submit {
    width: 100%;
    margin-bottom: 5%;
    float: none; }

  .userErrors {
    margin-bottom: 5%; }

  /* Master.blade.php */
  #menu li {
    float: none;
    margin-bottom: 5%;
    font-size: 100%; } }
