/* Variabelen */
/* Standaard HTML - tags */
body {
  background: #f7f2e7;
  font-family: 'Lobster Two', cursive; }

h1 {
  font-size: 300%;
  font-weight: bold;
  margin-bottom: 5%; }

h2 {
  font-size: 200%;
  margin-bottom: 2.5%; }

input:not(.submit), select {
  height: 35px;
  font-size: 30px;
  margin-bottom: 2.5%;
  width: 99%; }

p {
  margin-bottom: 2.5%; }

textarea {
  width: 100%;
  resize: none; }

/* Veel gebruikte klasses die nergens thuishoren */
.clear {
  clear: both; }

.submit {
  float: right;
  font-size: 20px;
  margin-bottom: 2.5%; }

/* Master.blade.php */
#header_img, #footer_img {
  width: 100%; }

#content {
  padding: 2.5% 0 2.5% 0;
  width: 50%;
  margin-left: 25%; }

#menu li {
  float: left;
  margin-bottom: 7.5%;
  padding-right: 2.5%; }

/* Media Queries */
@media (max-width: 680px) {
  /* Standaard HTML - tags */
  h1 {
    font-size: x-large; }

  h2 {
    font-size: 125%; }

  p {
    margin-bottom: 5%; }

  select, input:not(.submit) {
    height: 30px;
    font-size: 25px;
    width: 97.5%; }

  /* Veel gebruikte klasses die nergens thuishoren */
  .submit {
    width: 100%;
    margin-bottom: 5%;
    float: none; }

  /* Master.blade.php */
  #menu li {
    float: none;
    margin-bottom: 5%; } }
